# which API to use (cfr. ./clients/.openai_client_config.yaml), amongst
    # - sharedservice
    # - semic
API = "semic"
SERVER_URL = ""

# semic
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = ""
AZURE_OPENAI_SYSTEM_MESSAGE = ""
LLM_MODEL = ''

# sharedservice
SHARED_SERVICE_OPENAI_URL = ""
RAG_CHATBOT_API_KEY = ''
LLM_MODEL = ''
EMBEDDING_MODEL = ''