.git
**/__pycache__
.mypy_cache
**/secrets.toml
venv
venv-windows
chat_history/logs/**
chat_history/histories/**
.vscode
**/client_config.yaml
**/.openai_client_config.yaml
.env
env 5
chat_history/histories/**
*:*Zone.Identifier
**:*Zone.Identifier
*Zone.Identifier*
**Zone.Identifier**